DISCORD_TOKEN=paste_your_discord_token_here
WATCH_CHANNEL_ID=paste_the_waitlist_channel_id_here
TELEGRAM_BOT_TOKEN=paste_your_telegram_bot_token_here
TELEGRAM_CHAT_ID=paste_your_telegram_chat_id_here
YOUR_USER_ID=paste_your_discord_user_id_here
